/********************
YOUR STYLES
*******************/


h1 {
    background: black;
    color: beige;
    margin: inherit;
    text-align: center;
    font-family: "Avenir";
}

/* Header */
header {
  display: flex;
  justify-content: center;
}


/* Main Container */


/* Gallery Styling */

figure img {
width: 100px;
display: flex;
justify-content: center;
filter: sepia(1);
transition: .2s ease-in-out;
padding: .1em;  
}

figure img:hover {
    filter: none;
}


.gallery {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    margin: auto;
  
}

figure {
    background:black;
    padding: 20px;
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }

figcaption {
    color: whitesmoke;
    text-align: center;
    font-family: "Avenir";
}




footer {
    margin: auto;
    width: 310px;
    text-align: center;
}
/* Captions */

.caption {
    display: none;
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  body {
       background: white;
  }
    

   

.gallery {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    margin: auto;
  background: black
    
    }
  
    

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: white;
  }
    
    
   .gallery {
        justify-content: center;
       
    }
    
    

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: white;
  }
    
    

   .gallery {
        justify-content: center;
       
    }
    

